

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Pacifico&family=Poppins:wght@400;700&family=Roboto&family=Ubuntu+Mono&display=swap');


*{
    
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: black;
}
.main{
    height: 96vh;
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.box{
    height: 96vh;
    width: 100%;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top:0px;
}
.nav{
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 75vw;
    justify-content: space-between;
    height: 85px;

}
.nav img{
   height: 100px;
    width: 130px;
    position: relative;
    z-index: 10;
}

.nav button{
    position: relative;
    z-index: 10;
}
.text{
    display: flex;
    font-family: "Poppins", sans-serif;
    height: calc(100% - 85px);
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    position:relative;
    gap: 10px;
    padding:0 30px;

}
.text> :nth-child(1){
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.text> :nth-child(2){
    text-align: center;
    font-size: 24px;
    font-weight: 400;

}
.text> :nth-child(3){
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;

}
.separation{
    height: 8px;
    background-color: rgb(35, 35, 35);
}

.btn{
  padding: 6px 20px;
  font-weight: 400;
  color: white;
  background-color: rgba(23, 23, 23, 0.036);
  border: 0.5px solid white;
  border-radius: 2px;
}
.btn-red{
  background-color: red;
  color: white;
  padding: 16px 33px;
  font-size: 24px;
  border-radius: 7px;
  font-weight: 750;
  
}
.btn-red-sm{
    background-color: red;
    color: white;
    border: 0.5px solid red;
}
.input{
    color: white;
    border: 1px solid white;
    width: 22vw;
    padding: 17px 29px;
  font-size: 20px;
  border-radius: 7px;
  background-color: rgba(23,23,23,0.2);
  
}

.first{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 70vw;
   color: white;
   margin: auto;
   height: 51vh;
}

.secimg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secimg{
    position: relative;
}

.secimg video{
    position: absolute;
    top: 70px;
    right: 60px;
    width: 22vw;
}

section.first > div :nth-child(1){
  font-weight: bolder;
  font-size: 48px;
}
section.first > div :nth-child(2){
    
    font-size: 24px;
  }

  .third .secimg{
    position: relative;
  }

  .third .secimg video{
      position: absolute;
      top: 41px;
    right: 96px;
    width: 18vw;
  }

  .faq{
    color: white;
    justify-content: center;
  }

  .faq h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 48px;
  }

  .faq .container{
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 77vw;
    gap: 2vh;
   
    
  }
  .que{
    display: flex;
    transition: all 0.4s ease-out;
    background-color:#2d2d2d;
    height: 11vh;
    box-sizing: border-box;
    align-items: center;
    padding: 8px 30px 8px 18px;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
  }

  .que:hover{
    cursor: pointer;
    background-color:#414141;
  }

  .footer{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 32vh;
    gap: 2.5vh;
  }
  .foot-text{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    
  }
   
  .single{
    color: rgba(255, 255, 255, 0.7);
    max-width: 70vw;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 15px;
    font-size: 16px;
  }
  
  .footer2{
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    flex-direction: column;
    max-width: 70vw;
    margin: auto;
    font-size: 16px;
  }

  .footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgba(255, 255, 255, 0.7);
    max-width: 70vw;
    column-gap: 15vw;
    margin: auto;
    font-size: 14px;
  }

  .footer-grid-element{
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
 a{
  color: rgba(255, 255, 255, 0.7);
 }
  .netflix{
    font-size: 14px;
    padding-top: 20px;
    height: 14vh;
  }

  .last2{
    padding-top: 40px;
  }
 

 
